body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: #333;
	height: 100vh;
}
#buttons {
	display: flex;
	width: 200px;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	text-align: center;
	margin-left: 610px;
	margin-top: -30px;
	margin-bottom: 20px;
}
.game-area {
	width: 1400px;
	height: 1000px;
	position: relative;
	background: linear-gradient(gray, gray) no-repeat center/10px 80%;
	background-color: lightgrey;
}

#score {
	display: flex;
	width: 1400px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#playerScore {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#computerScore {
	display: flex;
	margin-left: 80px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#flash {
	background-color: fuchsia;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 30px;
	animation: fadeIn(slow), fadeOut(10), fadeIn(slow), fadeOut(10);
}
#computerScoreNum,
#playerScoreNum {
	font-weight: bolder;
	font-size: 45px;
	color: red;
	margin-left: 10px;
	border: solid 1px black;
	padding: 10px;
}
.ball {
	background-color: fuchsia;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 30px;
}

.paddle {
	width: 20px;
	height: 100px;
	top: 100px;
	position: absolute;
	background-color: black;
}

.player-paddle {
	left: 0;
}

.computer-paddle {
	right: 0;
}
