body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: #333;
	height: 100vh;
    
}
#buttons {
    display: flex;
    width: 200px;
    justify-content:space-between;
    align-items: center;
    align-content: center;
	text-align: center;

}
.game-area {
	width: 700px;
	height: 500px;
	position: relative;
    background: linear-gradient(gray, gray) no-repeat center/10px 80%;
    background-color: white;
}

#score {
	display: flex;
	width: 700px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#playerScore {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    
}
#computerScore {
	display: flex;
	margin-left: 100px;
	justify-content: center;
	align-items: center;
	text-align: center;
    
}
#computerScoreNum,
#playerScoreNum {
	font-weight: bolder;
	font-size: 30px;
    color: red;
    
}
.ball {
	background-color: green;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 30px;
}

.paddle {
	width: 20px;
	height: 100px;
	top: 100px;
	position: absolute;
	background-color: black;
}

.player-paddle {
	left: 0;
}

.computer-paddle {
	right: 0;
}
